<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCAB_Debugger_ACS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PCAB_Debugger_ACS.Properties.Settings>
            <setting name="winMainTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winMainLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winMainHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winMainWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winMainMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="winPosMonitorTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winPosMonitorLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winPosMonitorHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winPosMonitorWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winPosMonitorMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="winSnsMonitorTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winSnsMonitorLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winSnsMonitorHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winSnsMonitorWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winSnsMonitorMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="spCaption0" serializeAs="String">
                <value>USB シリアル デバイス (COM20)</value>
            </setting>
            <setting name="spCaption1" serializeAs="String">
                <value>USB シリアル デバイス (COM21)</value>
            </setting>
            <setting name="spCaption2" serializeAs="String">
                <value>USB シリアル デバイス (COM22)</value>
            </setting>
            <setting name="spCaption3" serializeAs="String">
                <value>USB シリアル デバイス (COM23)</value>
            </setting>
            <setting name="spBaudRate0" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="spBaudRate1" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="spBaudRate2" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="spBaudRate3" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="sn11" serializeAs="String">
                <value>0000011</value>
            </setting>
            <setting name="sn12" serializeAs="String">
                <value>0000012</value>
            </setting>
            <setting name="sn13" serializeAs="String">
                <value>0000013</value>
            </setting>
            <setting name="sn21" serializeAs="String">
                <value>0000021</value>
            </setting>
            <setting name="sn22" serializeAs="String">
                <value>0000022</value>
            </setting>
            <setting name="sn23" serializeAs="String">
                <value>0000023</value>
            </setting>
            <setting name="sn31" serializeAs="String">
                <value>0000031</value>
            </setting>
            <setting name="sn32" serializeAs="String">
                <value>0000032</value>
            </setting>
            <setting name="sn33" serializeAs="String">
                <value>0000033</value>
            </setting>
            <setting name="view" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winPhaseMonitorTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winPhaseMonitorLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winPhaseMonitorHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winPhaseMonitorWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="winPhaseMonitorMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logSaveDirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="saveLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="snsIntTime" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FreqMHz" serializeAs="String">
                <value>5800</value>
            </setting>
        </PCAB_Debugger_ACS.Properties.Settings>
    </userSettings>
</configuration>